<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hosykien211604449">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.HoSyKien211604449"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".RoomActivity"
            android:exported="false"
            android:label="@string/title_activity_room"
            android:theme="@style/Theme.HoSyKien211604449" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
